files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # some helpful information https://github.com/equivalent/scrapbook2/blob/master/archive/blogs/2016-08-22-aws-elasticbeanstalk-hooks.md
      export HOME=/home/ec2-user
      export USERPROFILE=/home/ec2-user
      sudo rm -rf /tmp/deployment/application/node_modules/bcrypt
      set -xe
      /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/80npm.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      chown -R ec2-user:root /var/app